<h2>Employee List</h2>
<div class="text-danger">{{msg}}</div>
<table class="table table-striped" >
    <thead>
        <tr>
            <td>ID</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Email Id</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees">
            <td>
                {{emp.id}}
            </td>
        <td>
            {{emp.firstname}}
        </td>
        <td>
            {{emp.lastname}}
        </td>
        <td>
            {{emp.emailId}}
        </td>
        <td>
            <button class="btn btn-info" (click)="updateLink(emp.id)">Update</button>
            <button class="btn btn-danger" (click) = "deleteEmployee(emp.id)" style="margin-left: 10px;">Delete</button>
            <button class="btn btn-danger" (click) = "viewEmployee(emp.id)" style="margin-left: 10px;">View</button>
        </td>

        </tr>
    </tbody>
</table>