@import "~bootstrap/dist/css/bootstrap.css";

.footer{
    position: absolute;
    width: 100%;
    height: 70px;
    color: #ffffff;
    background-color: blue;
    bottom: 0;
    text-align:center;


}